.card-times label {
  font-size: 20px;
  font-weight: 300;
  line-height: normal;
  width: 50%;
}

.card-times {
  display: flex;
  flex-wrap: wrap;
}

.card-times-radio-placeholder {
  display: inline-block;
  width: 18px;
  height: 18px;
  border-radius: 3px;
  border: 1px solid #25084b;
  background: #e6daf2;
}

input:checked + .card-times-radio-placeholder {
  border: 6px solid #25084b;
}

.card-times label input {
  display: none;
}

.card-times-text-uncheck,
.card-times-text-select {
  position: relative;
}

.card-times-text-uncheck p,
.card-times-text-select p {
  position: absolute;
  right: 0;
  font-style: italic;
}

.card-times-text-select p {
  left: 0;
}
