.card-options {
  justify-content: space-between;
}

.card-options-number-choice {
  justify-content: end;
  margin-bottom: 20px;
}

.card-options,
.card-options-number-choice,
.card-options-button-type,
.card-options-print {
  display: flex;
}

.card-options-number {
  border: 0.8px solid #25084b;
  padding: 5px;
  font-weight: 200;
  margin-inline: 10px;
}

.card-options-number:hover {
  font-weight: 400;
  transition: background-color 0.3s, font-weight 0.3s;
}

.card-options-button-normal {
  border-radius: 10px 0px 0px 10px;
}

.card-options-button-special {
  border-radius: 0px 10px 10px 0px;
}

.card-options-button-normal,
.card-options-button-special {
  display: inline-flex;
  font-size: 16px;
  align-items: center;
  padding: 7px 20px;
  height: 40px;
  white-space: nowrap;
}

.card-options-print input,
.card-options-number,
.card-options-button-normal,
.card-options-button-normal:hover + .card-options-button-special {
  background-color: #faf5ff;
}

.card-options-button-normal:hover,
.card-options-button-normal:hover + .card-options-button-special {
  transition: background-color 0.2s, color 0.2s;
}

.card-options-button-normal:hover + .card-options-button-special {
  color: #25084b;
}

.card-options-button-normal:hover,
.card-options-button-special {
  color: #faf5ff;
}

.card-options-button-type {
  justify-content: end;
}

.card-options-button-type,
.card-options-print {
  margin-bottom: 20px;
}

.card-options-button-normal,
.card-options-button-special,
.card-options-print p {
  font-weight: 300;
}

.card-options-print p,
.card-options-print h4 {
  margin-right: 40px;
}

.card-options-switch-wrapper {
  display: inline-block;
  width: 35px;
  height: 20px;
  padding: 2px;
  transition: background-color 0.3s;
}

.card-options-number,
.card-options-switch-wrapper {
  border-radius: 10px;
}

.card-options-switch-inner {
  width: 15px;
  height: 15px;
  border-radius: 8px;
  transition: margin 0.3s, background-color 0.3s;
}

input:checked + .card-options-switch-wrapper .card-options-switch-inner {
  margin-left: 14px;
}

.card-options-button-normal:hover,
.card-options-button-special,
.card-options-switch-inner,
input:checked + .card-options-switch-wrapper {
  background-color: #25084b;
}

.card-options-switch input,
.card-options-hidden {
  display: none;
}

.card-options-hidden.is-active {
  display: block;
}

.card-options-number:hover,
.card-options-switch-wrapper,
input:checked + .card-options-switch-wrapper .card-options-switch-inner {
  background-color: #e6daf2;
}

.card-options-button-normal,
.card-options-button-special,
.card-options-switch-wrapper {
  border: 1px solid #25084b;
}
