.header-button-save {
  border: 2px dashed #a77fd0;
  border-radius: 40px;
  padding: 3.5px 17px;
}

.header-button-code input {
  border: dashed #a77fd0;
  border-width: 2px 0px 2px 2px;
  border-radius: 25px 0px 0px 25px;
  padding: 5px 17px;
  font-size: 16px;
  font-weight: 300;
  font-family: jost;
  display: inline-block;
}

.header-button-load {
  border: 1px solid #a77fd0;
  background-color: #e6daf2;
  border-radius: 0px 25px 25px 0px;
  padding: 7px 40px 7px 17px;
  display: inline-flex;
  height: 36.5px;
  white-space: nowrap;
  align-items: center;
}

.header-button-save,
.header-button-load {
  font-size: 18px;
}

.header-button-load-defi {
  display: flex;
  justify-content: end;
}

.header-button-save img,
.header-button-load img {
  max-width: 25px;
  margin-left: 10px;
}

.header-button-save:hover {
  background-color: #25084b;
  color: #fff;
  transition: background-color 0.4s, color 0.4s;
}

.header-button-code input:hover {
  border: 2px solid #a77fd0;
  transition: border 0.3s;
}

.header-button-load:hover {
  background-color: #ccb3e5;
  transition: background-color 0.3s;
}
