.menu-burger {
  top: 30px;
  right: 70px;
  z-index: 1;
  width: 30px;
  height: 19px;
}

.menu-burger,
.menu {
  position: fixed;
}

.menu {
  right: 0;
  bottom: 0;
  left: 0;
  padding: 50px;
  background-color: #e6daf2;
  pointer-events: none;
  transition: opacity 0.3s;
  transition: transform 0.3s;
}

.menu.is-active {
  opacity: 1;
  pointer-events: auto;
  transform: translateX(80%);
}

.menu-burger div {
  position: absolute;
  width: 100%;
  height: 5px;
  border-radius: 5px;
  background-color: #25084b;
  transition: transform 0.3s, opacity 0.3s;
}

.menu,
.menu-burger div:nth-child(1) {
  top: 0;
}

.menu-burger div:nth-child(2) {
  top: 8px;
}

.menu-burger div:nth-child(3) {
  top: 16px;
}

.menu-burger.is-active div:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.menu,
.menu-burger.is-active div:nth-child(2) {
  transform: translateX(100%);
  opacity: 0;
}

.menu-burger.is-active div:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.menu li {
  background-color: #f7efff;
  color: #25084b;
  font-size: 20px;
  padding: 10px 30px;
  border: 1px solid #25084b;
  border-radius: 25px;
  margin-top: 20px;
  width: 220px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  justify-content: space-between;
  align-items: center;
}
