.principal-button-choice {
  border: 1px solid #a77fd0;
  border-radius: 30px;
  padding: 5px 20px;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 18px;
  margin-left: 20px;
}

.principal-button-choice img {
  margin-left: 10px;
}

.principal-button-choice-all {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 45px;
}

.principal-button-choice:hover {
  background-color: #25084b;
  color: #fff;
  transition: background-color 0.4s, color 0.4s;
}
