.l-logo {
  padding: 0;
}

.l-logo img {
  max-height: 30px;
  max-width: 182px;
}

.l-options {
  width: 100%;
}

.l-options label {
  margin-right: 40px;
}

.l-options input {
  padding: 5px 20px;
  border-radius: 10px;
  border: 1px solid #25084b;
  font-size: 16px;
  font-family: jost;
  font-weight: 300;
  text-align: center;
  width: 40%;
  text-transform: uppercase;
}
