.option-print p,
.option-print h4,
.card-options label {
  margin-right: 40px;
}

.choice-button img {
  margin-left: 10px;
}

.logo {
  padding: 0;
}

.logo img {
  max-height: 30px;
  max-width: 182px;
}

.save-button img,
.load-button img {
  max-width: 25px;
  margin-left: 10px;
}
